.header {
}

@mixin nav() {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-bar {
  @include nav();

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    padding: 0.5em 1.2em 0.5em 1.2em;
    display: block;
    text-align: center;
    text-decoration: none;
  }
}

.nav-sub {
  @include nav();
}

.c {
  color: red;
}